<h2><%=link_to "review restaurant", review_path  %></h2>
<p><%= render @restaurant  %></p>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<h2><%=link_to "All restaurants", restaurants_path %></h2>
